src/Assembly-CSharp-Editor-vs.csproj
src/Assembly-CSharp-Editor.csproj
src/Assembly-CSharp-firstpass-vs.csproj
src/Assembly-CSharp-firstpass.csproj
src/Assembly-CSharp-vs.csproj
src/Assembly-CSharp.csproj
src/Assembly-UnityScript-Editor-vs.unityproj
src/Assembly-UnityScript-Editor.unityproj
src/Assembly-UnityScript-firstpass-vs.unityproj
src/Assembly-UnityScript-firstpass.unityproj
src/src.userprefs
src/src-csharp.sln
src/src.sln
